.carousel-card img {
  width: 100vw; /* Full width */
  height: auto;
  max-height: 90vh; /* Adjust height for tablets */
  object-fit: cover;
}
/* Tablet View (768px - 1024px) */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .carousel-card img {
    width: 100vw; /* Full width */
    height: auto;
    max-height: 50vh; /* Adjust height for tablets */
    object-fit: cover;
  }
}

/* Mobile View (Below 768px) */
@media screen and (max-width: 767px) {
  .carousel-card img {
    width: 100vw; /* Ensure full width */
    height: auto;
    max-height: 35vh; /* Reduce height for smaller screens */
    object-fit: cover;
  }
}



  /* #########Section2############# */

  .home-sec-2-container {
    position: relative;
    background-color: transparent;
    padding: 2rem 13rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: max-content;
  }
  
  .home-sec-2-container::before {
    content: '';
    position: absolute;
    top: 45%;
    right:5%;
    filter: blur(10em);
    z-index: -1;
    background: 
      radial-gradient(ellipse at 50% 100%, #52e9a7 20%, transparent 100%), 
      radial-gradient(ellipse at 70% 60%, #1ac0dd 70%, transparent 10%);
    background-position: center;
    background-attachment: fixed;
    width: 50vw;
    height: 50vh;
  }
  
  .home-sec-2-content {
    max-width: 50%;
  }
  
  .home-sec-2-title {
    font-size: var(--fs-xl);
    color: #105e3c;
    margin-bottom: .5em;
  }
  
  .home-sec-2-description {
    font-size: var(--fs-s);
    color: #000;
    line-height: 1.5;
  }
  
  .home-sec-2-logo {
    width: 30rem;
    height: 30rem;
    border-radius:50% ;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(221, 248, 226);
    /* border:3px solid #105e3c; */
    overflow: hidden;
    box-shadow: -3px 3px 27px -5px rgba(0,0,0,0.75) inset;
-webkit-box-shadow: -3px 3px 27px -5px rgba(0,0,0,0.75) inset;
-moz-box-shadow: -3px 3px 27px -5px rgba(0,0,0,0.75) inset;
  }
  
  .home-sec-2-logo img {
    width: 90%;
    height: min-content;
    object-fit: contain;
    object-position: center;
  }
  @media screen and (min-width: 768px){
    .home-sec-2-container {
      padding: 2rem 5rem;
    }
  } 
/* Tablet View (768px - 1024px) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .home-sec-2-container {
    flex-direction: row;
    text-align: center;
    padding: 2rem 2rem;
    gap:1em;
  }

  .home-sec-2-content {
    max-width: 80%;
  }

  .home-sec-2-title {
    font-size: var(--fs-l);
  }

  .home-sec-2-description {
    font-size: var(--fs-s);
  }

  .home-sec-2-logo {
    width: 45rem;
    height: 10rem;
  }

  .home-sec-2-logo img {
    width: 80%;
  }
}

/* Mobile View (Below 768px) */
@media screen and (max-width: 767px) {
  .home-sec-2-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem 2rem;
  }

  .home-sec-2-content {
    max-width: 90%;
  }

  .home-sec-2-title {
    font-size: var(--fs-m);
  }

  .home-sec-2-description {
    font-size: var(--fs-s);
  }

  .home-sec-2-logo {
    width: 18rem;
    height: 18rem;
  }

  .home-sec-2-logo img {
    width: 75%;
  }
}

  /* ############section3################# */

  .home-sec-3-container {
    background-color: transparent;
    padding: 2rem 13rem;
    text-align: center;
    display: flex;
    justify-content: start;
  }
  
  .home-sec-3-content {
    flex: 1;
    text-align: left;
    margin-left: 1rem;
  }
  
  .home-sec-3-title {
    font-size: var(--fs-xl);
    color: #105e3c;
    margin-bottom: 1rem;
  }
  
  .home-sec-3-description {
    font-size: var(--fs-s);
    color: #000;
    margin-bottom: 2rem;
    text-decoration: none;
    list-style: none;
    
}
.home-sec-3-description li{
    display: flex;
    align-items: flex-start;
    margin: 1em 0em;


  }
  .home-sec-3-description  svg{
    color: #105e3c;
    font-size: var(--fs-l);
  }
  .home-sec-3-video{
      flex: 1;
      width: 100%;
        height: 100%;
    }
    .home-sec-3-video iframe {
    border-radius: 10px;
    border: none;
  }
  /* ######### Tablet View (768px - 1024px) ######### */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .home-sec-3-container {
    flex-direction: row;
    padding: 2rem 2rem;
    gap: 0.2rem;
  }

  .home-sec-3-video iframe{
    width: 65vh;
  }

  .home-sec-3-content {
    max-width: 50%;
  }
  .home-sec-3-title {
    font-size: var(--fs-l);
  }
}

/* ######### Mobile View (Below 767px) ######### */
@media screen and (max-width: 767px) {
  .home-sec-3-container {
    flex-direction: column;
    padding: 1rem 1rem;
    text-align: center;
    gap: 2rem;
  }
  .home-sec-3-vide0{
    height: 50vh;
  }
  .home-sec-3-video iframe {
    max-width: 90vw;
    height: 35vh;
  }

  .home-sec-3-content {
    max-width: 100%;
    text-align: center;
  }

  .home-sec-3-description li {
    justify-content: center; /* Align items properly in center */
    text-align: left;
  }
  .home-sec-3-title {
    font-size: var(--fs-m);
  }
  .home-sec-3-description{
    font-size: var(--fs-s);    
  }
}
  /* #########section4######## */

  .home-sec-4{
    background-color: #f8f8f8;
    padding: 2rem 13rem;
    text-align: center;
    display: flex;
    justify-content: start;
  }
  .home-sec-4-cards{
    overflow: hidden;
    width: 100%;
    height: auto;

  }
  .home-sec-4-card{
    display: flex;
    flex-direction: column;
    padding: 2em;
    margin: 3em;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;  
}

.home-sec-4-card svg{
    color: #105e3c;
    font-size: var(--fs-xl);
}
/* ######### Tablet View (768px - 1024px) ######### */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .home-sec-4 {
    padding: 1rem 2rem; /* Adjust padding for smaller screens */
    justify-content: center;
  }

  .home-sec-4-cards {
    width: 100%;
  }

  .home-sec-4-card {
    padding: 1em;
    margin: 2em;
  }
}

/* ######### Mobile View (Below 767px) ######### */
@media screen and (max-width: 767px) {
  .home-sec-4 {
    padding: 1rem 1rem;
    justify-content: center;
  }

  .home-sec-4-cards {
    width: 100%;
  }

  .home-sec-4-card {
    padding: 1em;
    margin: 1em;
    box-shadow: rgb(204, 219, 232) 2px 2px 4px 0px inset, rgba(29, 2, 2, 0.034) -2px -2px 4px 0px inset;
  }
  .home-sec-4-card svg{
    font-size: var(--fs-l);
}
}

/* ###########section5############ */
.home-sec-5-container {
    display: flex;
    flex-direction: row;
    padding: 2em 13rem;
    justify-content: space-evenly;
  }
  
  .home-sec-5-index {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .home-sec-5-index-item {
    padding: 10px 20px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #105e3c;
    border-radius: 5px;
  }
  
  .home-sec-5-index-item.active {
    background-color: #105e3c;
    color: white;
  }
  
  .home-sec-5-content {
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .home-sec-5-content h2{
    font-size: var(--fs-xl);
    color: #105e3c;
    text-align: center;
  }
    .home-sec-5-content p{
        text-align: justify;
        line-height: 200%;
    }


    /* ############section6############# */

    .home-sec-6-container {
      padding: 2em 13rem;
      text-align: center;
      height: 50vh;
      background-color: transparent;
      position: relative;
    }
    .home-sec-6-container::before{
      content: '';
      position: absolute;
      top: 45%;
      left: 0%;    
      filter: blur(5em);
      z-index: -1;
      background: 
        radial-gradient(ellipse at 50% 50%, #52e9a7 20%, transparent 100%), 
        radial-gradient(ellipse at bottom left, #1ac0dd 30%, transparent 20%);
      background-position: center;
      height: 40vh;
      width: 60vw;
}
      
      .home-sec-6-cards {
        display: flex;
        height: 100%;
        gap: 20px;
        justify-content: center;
        align-items: stretch;
      }
      
      .home-sec-6-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: calc(20.33% - 1em);
        border: 1px solid #ddd;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;
        height: 100%; /* Ensure card takes full height */
      }
      
      .home-sec-6-card:hover {
        transform: scale(1.05);
      }
      
      .home-sec-6-card-image {
        width: 100%;
        height: 200px; /* Fixed height for image */
        object-fit: cover; /* Ensure the image covers the space properly */
      }
      
      .home-sec-6-card-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1; /* Allows the content to fill the remaining space */
        padding: 15px;
        height: 100%;
        background-color: #fff;
      }
      
      .home-sec-6-card-title {
        font-size: var(--fs-l);
        color: #105e3c;
        margin-bottom: 10px; /* Space between title and description */
      }
      
      .home-sec-6-card-description {
        font-size: var(--fs-s);
        color: #1f1f1f;
        padding: 0;
        text-align: justify;
      }
      
/* Section 7 */
      .home-sec-7-container {
        padding: 3em 13rem;
        text-align: center;
        background-color: #f4f4f4;
      }
      
      .home-sec-7-content {
        max-width: 100%;
        margin: 0 auto;
      }
      
      .home-sec-7-title {
        font-size: var(--fs-xl);
        color: #105e3c;
        margin-bottom: 1em;
      }
      
      .home-sec-7-description {
        font-size: var(--fs-s);
        color: #333;
        margin-bottom: 2em;
      }
      
      .home-sec-7-button {
        display: inline-block;
        font-size: var(--fs-s);
        background-color: #105e3c;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s ease;
        padding: .5em;
        border: 1px solid #fff;

      }
      
      .home-sec-7-button:hover {
        color: #105e3c;
        border: 1px solid #105e3c;
        background-color: #fff;
      }
      /* Tablet View (≤1024px) */
@media screen and (max-width: 1024px) {
  .home-sec-7-container {
    padding: 3em 5rem; /* Reduce padding for better fit */
  }

  .home-sec-7-title {
    font-size: var(--fs-l); /* Slightly reduce font size */
  }

  .home-sec-7-description {
    font-size: var(--fs-s);
  }
}

/* Mobile View (≤767px) */
@media screen and (max-width: 767px) {
  .home-sec-7-container {
    padding: 2em 2rem; /* Further reduce padding */
  }

  .home-sec-7-title {
    font-size: var(--fs-m); /* Adjust title size */
  }

  .home-sec-7-description {
    font-size: var(--fs-xs);
  }

  .home-sec-7-button {
    padding: 0.75em 1.5em; /* Increase button padding for better touch */
    font-size: var(--fs-s);
  }
}

/*desnums section */

.descnums-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  padding: 2em 10rem;
}

.descnum-card {
  background-color: #105e3c41;
  border-radius: 20px;
  box-shadow: 0 6px 6px rgba(33, 2, 2, 0.1);
  padding: 34px;
  text-align: center;
  width: 200px; /* Fixed width for consistency */
  margin-bottom: 1rem;
}

.descnum-card h3 {
  font-size: var(--fs-m); /* 24px */
  font-weight: bold;
  margin-bottom: 8px;
}

.descnum-card p {
  font-size: var(--fs-xs); /* 14px */
}

/* Tablet View (768px - 1024px) */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .descnums-container {
    flex-wrap: wrap; /* Keep items in one line if space allows */
    gap: 1rem;
    padding: 1em 2em;
    margin-top: 5px;
  }

  .descnum-card {
    width: 8rem;
    height: 7rem;
    padding: 1.5em;
    border-radius: 10px;
  }

  .descnum-card h3 {
    font-size: var(--fs-m);
  }

  .descnum-card p {
    font-size: var(--fs-xs);
  }
}

/* Mobile View (Below 768px) */
@media screen and (max-width: 767px) {
  .descnums-container {
    flex-direction: row; /* Ensure items stay horizontal */
    flex-wrap: wrap; /* Allow wrapping */
    justify-content: space-evenly;
    gap: 0.2rem;
    padding: 1em 1em;
    margin-top: 2px;
  }

  .descnum-card {
    width: 4rem;
    padding: 0.5em;
    border-radius: 8px;
  }

  .descnum-card h3 {
    font-size: var(--fs-xs);
  }

  .descnum-card p {
    font-size: var(--fs-xxs);
  }
}

/* Banner Container */
.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 13rem;
  background-color: #f4f9f9;
}

.banner-content {
  width: 50%;
}

.banner-heading {
  font-size: var(--fs-xl);
  font-weight: bold;
  color: #105e3c;
  margin-bottom: 20px;
}

.banner-list {
  list-style: none;
  padding-left: 20px;
}

.list-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: var(--fs-s);
  color: black;
}

.list-icon {
  font-size: var(--fs-m);
  color: #065014;
  margin-right: 10px;
}

.banner-image-container {
  width: 40%;
  display: flex;
  justify-content: center;
  background-color: #bed5cd;
  border-radius: 20px;
}

.banner-image {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
}

/* ######### Tablet View (768px - 1024px) ######### */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .banner-container {
    flex-direction: row;
    padding: 1rem 2rem;
    gap: 2rem;
  }

  .banner-content {
    width: 50%;
  }

  .banner-image-container {
    width: 40%;
  }

  .banner-heading {
    font-size: var(--fs-l);
  }

  .list-item {
    font-size: var(--fs-s);
  }
}

/* ######### Mobile View (Below 767px) ######### */
@media screen and (max-width: 767px) {
  .banner-container {
    flex-direction: column;
    padding: 2rem 2rem;
    text-align: center;
    gap: 0.5rem;
  }

  .banner-content {
    width: 100%;
  }

  .banner-heading {
    font-size: var(--fs-m);
  }

  .banner-list {
    text-align: left;
    padding-left: 10%;
  }

  .list-item {
    justify-content: flex-start;
  }

  .banner-image-container {
    width: 70%;
  }

  .banner-image {
    max-width: 100%;
  }
}
/* services */

/* Services Section */
.services-section {
  padding: 2em 13rem;
}

.services-heading {
  font-size: var(--fs-xl);
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
  color: #105e3c;
}

.services-container {
  display: flex;
  gap: 2rem;
  justify-content: space-evenly;
}

/* Services Grid */
.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  width: 50%;
}

.service-card {
  cursor: pointer;
  border-radius: 12px;
  padding: 1.5rem;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: all 0.3s;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  flex-direction: column; /* Ensure icon and text stack */
}

.service-card.selected {
  background-color: #a0c2b6;
}

.service-icon {
  font-size: var(--fs-xl); /* Make the icon bigger */
  width: 60px; /* Increase the size */
  height: 60px; /* Increase the size */
  color: #105e3c;
}

.service-title {
  font-weight: bold;
  margin-top: 0.5rem;
}

/* Service Details */
.service-details {
  width: 50%;
  margin-left: 2em;
}

.service-details-heading {
  font-size: var(--fs-m);
  font-weight: bold;
  margin-bottom: 1rem;
}

.service-details-list {
  list-style: none;
  padding: 0;
}

.service-list-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: var(--fs-s);
  margin-bottom: 0.5rem;
}

.service-list-icon {
  color: #1e7052;
  font-weight: bold;
}

/* Button Styles */
.appointment-button-container {
  margin-top: 1.5rem;

}

.appointment-button {
  background-color: #015e3c;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 1.5rem;
  color: white;
  font-size: var(--fs-s);
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
  margin-left: 5rem;
}

.appointment-button:hover {
  background-color: #014e30;
}
/* Tablet View (Align same as desktop) */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .services-section {
    padding: 2em 1rem;
  }

  .services-container {
    flex-direction: row; /* Keep same alignment as desktop */
    gap: 1.5rem;
  }
  .services-heading {
    font-size: var(--fs-l);
  }
  .service-details-heading{
    font-size: var(--fs-m);
  }
  .services-grid {
    grid-template-columns: repeat(3, 1fr);
    width: 40%;
  }
  .service-card {
    padding: 0.8rem;
    width:6rem;
    height: 6rem;
  }
  .service-icon {
    font-size: var(--fs-l); /* Make the icon bigger */
    width: 30px; /* Increase the size */
    height: 30px; /* Increase the size */
  }
  .service-title{
    font-size: var(--fs-xs);
  }
  .service-details {
    width: 50%;
    margin-left: 1.5em;
  }
  .service-list-item{
    font-size: var(--fs-xs);
  }
  .appointment-button {
    margin-left: 3rem;
  }
}

/* Mobile View (Services Grid on Top, Details Below) */
@media screen and (max-width: 767px) {
  .services-section {
    padding: 2em 1rem;
  }

  .services-container {
    flex-direction: column; /* Stack services grid and details */
    align-items: center;
    gap: 2rem;
  }

  .services-grid {
    grid-template-columns: repeat(3, 1fr); /* Adjust for smaller screens */
    width: 100%;
    align-items: center;
  }

  .service-details {
    width: 100%;
    margin-left: 1rem;
  }
  .services-heading {
    font-size: var(--fs-l);
  }
  .service-details-heading {
    font-size: var(--fs-s);
  }
  .service-card {
    padding: 0.5rem;
    width:5.5rem;
    height: 5rem;
  }
  .service-icon {
    font-size: var(--fs-m); /* Make the icon bigger */
    width: 20px; /* Increase the size */
    height: 20px; /* Increase the size */
  }
  .service-list-item{
    font-size: var(--fs-xs);
  }
  /* .service-list-item {
    justify-content: center;
  } */
  .service-title{
    font-size: var(--fs-xxs);
  }
  .appointment-button-container {
    display: flex;
    justify-content: center;
  }

  .appointment-button {
    margin-left: 0;
  }
}

/* Doctors */

.doctors {
  padding: 2em 13rem;
  background-color: #f4f9f9;
}

.doctors-heading {
  font-size: var(--fs-xl);
  font-weight: bold;
  text-align: center;
  margin-bottom: 5rem;
  color: #105e3c;
}

.doctors-list {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  overflow-x: auto;
  padding: 0 1.25rem;
}

.doctors-subheading {
  font-size: var(--fs-m);
  letter-spacing: 0.05rem;
  font-weight: bold;
  text-align: center;
  margin: 2.5rem 0 2.5rem;
}

.doctors-description {
  text-align: center;
  margin: 0 auto;
  max-width: 28rem;
  font-size: var(--fs-s);
}

.doctors-banner {
  display: block;
  margin: 0 auto;
}

.doctor-card {
  background-color: #bed5cd;
  padding: 1rem;
  padding-bottom: 0;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}

.doctor-image {
  width: 180px;
}

.doctor-img {
  width: 100%;
  border-top-left-radius: 70px;
  border-bottom-right-radius:70px;
}

.doctor-info {
  padding-top: 1rem;
  padding-bottom: 1.25rem;
}

.doctor-name {
  font-weight: bold;
}

.doctor-job {
  font-size: 0.875rem;
}
/* Tablet View (Align same as desktop) */
@media screen and (min-width: 768px) and (max-width: 1024px)  {
  .doctors {
    padding: 2rem 2rem;
  }
  .doctors-heading{
    margin-bottom: 3rem;
    font-size: var(--fs-l);
  }
  .doctors-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
  .doctor-img {
    width: 100%;
    padding: 0.2em;
    border-top-left-radius: 40px;
    border-bottom-right-radius:40px;
  }
  .doctor-card {
    width: 8rem;
  }
  .doctor-image {
    width: 110px;
  }
  .doctor-job {
    font-size: 0.7rem;
  }
}

/* Mobile View (2 doctors in a row) */
@media screen and (max-width: 767px) {
  .doctors {
    padding: 1rem 1rem;
  }
  .doctors-heading{
    font-size: var(--fs-m);
    margin-bottom: 2rem;
  }
  .doctors-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 doctors per row */
    gap: 0.5rem;
    justify-content: center;
    justify-items: center;
  }
  .doctor-card {
    width: 7.5rem;
    height: 11.5rem;
    border-radius: 10px;
  }
  .doctor-image {
    width: 100%;
  }
  .doctor-job {
    font-size: 0.5rem;
  }
  .doctor-img {
    width: 100%;
    padding: 0.1em;
    border-top-left-radius: 20px;
    border-bottom-right-radius:20px;
    margin-left: 0%;
  }
  .doctor-name {
    font-size: var(--fs-xs);
  }
 .doctor-info {
  padding: 0.5rem;
}
}
/* Reviews */


/* Section Styles */
.review-container{
  padding-top: 24px;
  padding-bottom: 32px;
  background-color: transparent;
} 

/* Heading Style */
.reviews-heading {
  font-size: var(--fs-xl);
  font-weight: bold;
  text-align: center;
  margin-bottom: 2.5rem;
  color: #105e3c;
}

/* Reviews List */
.reviews-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
  margin-top: 1rem;
}

/* Review Card Styles */
.review-card {
  padding: 1.25rem;
  max-width: 300px;
  background-color: #a0c2b6;
  border-radius: 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.review-card--mb {
  margin-bottom: 4rem;
}

/* Review Header */
.review-header {
  display: flex;
  gap: 1.25rem;
  align-items: center;
}

.review-img {
  width: 3rem;
  border-radius: 50%;
}

.review-info {
  display: flex;
  flex-direction: column;
}

.review-name {
  font-weight: bold;
  font-size: var(--fs-s);
}

.review-job {
  font-size: var(--fs-xs);
  opacity: 0.7;
}

/* Review Description */
.review-desc {
  font-size: var(--fs-xxs);
  opacity: 0.9;
  margin-top: 0.5rem;
}