.success-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: #f4f9f9;
}

/* Card styling */
.success-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 27rem;
  height:25rem;
  padding: 2em;
  background: #bed5cd;
  box-shadow: 0 8px 32px rgba(71, 71, 71, 0.37);
  backdrop-filter: blur(16.5px);
  -webkit-backdrop-filter: blur(16.5px);
  border-radius: 1em;
  border: 1px solid rgba(255, 255, 255, 0.18);
  text-align: center;
}

/* Title styling */
.success-title {
  font-size: var(--fs-l);
  margin-top: 20px;
  color: var(--text-primary);
}

/* Description styling */
.success-description {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: black;
  line-height: 1.5;
}

.success-icon {
  /* width: 30%; */
  height: auto;
  justify-content: center;
  border-radius: 10px;
  color: #105e3c;
  font-size: 5rem;
 /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); */
}
/* Tablet (768px - 1024px) */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .success-container {
    height: 80vh;
    padding: 1em;
  }

  .success-content {
    width: 25rem;
    height:20rem;
    padding: 1.5em;
  }

  .success-title {
    font-size: 1.8rem;
  }

  .success-description {
    font-size: 1rem;
  }

  .success-img {
    max-width: 250px;
  }
}

/* Mobile (426px - 767px) */
@media screen and (max-width: 767px) {
  .success-container {
    height: auto;
    padding: 2em 0;
  }

  .success-content {
    width: 18rem;
    height:15rem;
    padding: 0.8em;
  }

  .success-title {
    font-size: 1.5rem;
  }

  .success-description {
    font-size: 0.8rem;
  }

  .success-img {
    max-width: 200px;
  }
}